.container {
  text-align: center;
  width: 500px;
  height: 800px;
  margin-left: 80px;
  margin-top: 40px;
  padding-left: 30px;
  font-family: cursive;
  background-color: antiquewhite;
}

#height,
#weight {
  width: 150px;
  height: 25px;
  margin-top: 30px;
  box-shadow: black;
}

#weight-guide {
  text-align: center;
  margin-left: 75px;
  margin-top: 25px;
  /* opacity: 0%; */
}

#results {
  font-size: 35px;
  margin-left: 90px;
  margin-top: 20px;
}

button {
  width: 150px;
  height: 35px;
  margin-left: 90px;
  margin-top: 25px;
  border-radius: 5px;
  border-style: solid;
  background-color: blue;
  color: #fff;
  font-size: 25px;
}

h1 {
  font-weight: bolder;

  font-size: 55px;
  padding-left: 15px;
  padding-top: 25px;
}
footer {
  font-family: Georgia, serif;
  text-align: center;
}
img {
  height: 10rem;
  width: 30rem;
}
